@media (max-width: 1024px) {
  .grouping {
    flex-direction: column;
    align-items: flex-start;
  }
  form {
    width: 100%;
  }
  input {
    width: 100%;
  }
  .cssArt {
    width: 90%;
  }
  .forest1 div.treeMd {
    left: 50px;
  }
  .forest1 div.treeSm {
    left: 120px;
  }
  .forest1 div.treeLg {
    left: -50px;
  }
  .people > div:nth-child(4),
  .people > div:nth-child(3),
  .people > div:nth-child(6) {
    display: none;
  }
}

@media (max-width: 425px) {
  .cssArt {
    width: 90%;
  }
  .forest1 div.treeMd {
    left: -40px;
  }
  .forest1 div.treeSm {
    left: -10px;
  }
  .forest1 div.treeLg {
    left: -100px;
  }
  .skyItems > div:nth-child(7) {
    position: absolute;
    top: 50px;
    left: 150px;
  }
  main {
    width: 100%;
  }
  .people > div:nth-child(1) {
    left: 120px;
  }
  .skyItems > div:nth-child(3) {
    left: -70px;
    top: -40px;
  }
  .people > div:nth-child(2),
  .people > div:nth-child(3),
  .people > div:nth-child(4),
  .people > div:nth-child(5),
  .people > div:nth-child(6),
  .forest1 div.treeSm,
  .forest1 div.treeMd,
  .skyItems > div:nth-child(1),
  .skyItems > div:nth-child(4),
  .skyItems > div:nth-child(6) {
    display: none;
  }
}
